### Java ###
*.class
*.jar
*.war
*.ear
*.nar

# terraform
.terraform*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Spring Boot ###
*.log
logs/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.classpath
.project
.settings/
bin/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Misc ###
*.swp
*.swo
*~
hs_err_pid*
replay_pid*
