<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
  <servers>
    <server>
      <id>release</id>
      <username>devops</username>
      <password>Redhat@123456</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>devops</username>
      <password>Redhat@123456</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>jfrog</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>release</id>
          <name>libs-release-local</name>
          <url>http://18.61.211.12:8081/artifactory/libs-release-local/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots</id>
          <name>libs-snapshot-local</name>
          <url>http://18.61.211.12:8081/artifactory/libs-snapshot-local/</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>release</id>
          <name>libs-release-local</name>
          <url>http://18.61.211.12:8081/artifactory/libs-release-local/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>snapshots</id>
          <name>libs-snapshot-local</name>
          <url>http://18.61.211.12:8081/artifactory/libs-snapshot-local/</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>jfrog</activeProfile>
  </activeProfiles>
</settings>
